<app-world-edit [world]="selectedWorld"></app-world-edit>
<div *ngIf="world">
    <div class="card">
      <div class="card-header">
          <h5 class="card-title">
              Detailed Information about {{world.name | uppercase}}
            </h5>
      </div>
        <div class="card-body">           
              <p class="card-text">

                <b>Name:</b> 
                <br/>
                {{world.name}}
                <br/>
                <b>Description:</b> 
                <br/>
                {{world.description}}
                <br/>
                <b>season: </b>
                <br/>
                {{world.season}}
                <br/>
                <b>Available in Ranked: </b>
                <br/>
                {{world.availableInRanked}}
              </p>
              </div>
              <div class="card-footer text-center">
                  
                  <button *ngIf="_authService.loggedIn()" (click)="onSelect(world)" type="button"
                  class="btn btn-warning float-left btn-season">Edit</button>
                  <button [routerLink]="['/map', world._id]" routerLinkActive="active" type="button"
                  class="btn btn-primary btn-season">View</button>
                 <button *ngIf="_authService.loggedIn()" (click)="deleteWorld()" type="button"
                  class="btn btn-danger float-right btn-season">Delete</button>
              </div>  
    </div>
</div>

