<div class="card mt-5" *ngIf="_authService.loggedIn()">
    <div class="card-body">
        <a routerLink="/maps/create" class="btn btn-success createbutton">Niewe Map aanmaken</a>
        
    </div>
  </div>

<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let world of worlds" [class.selected] = "world === selectedWorld">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">
          {{world.name}}
        </h5>
        <p class="card-text">
          {{world.season}}
        </p>
        <a class="btn btn-primary" (click)="onSelect(world)">Meer Informatie</a>
      </div>
    </div>
  </div>
</div>

<app-world-detail [world]="selectedWorld"></app-world-detail>