<div class="card mt-5" *ngIf="_authService.loggedIn()">
    <div class="card-body">
        <a routerLink="/season/create" class="btn btn-success editbutton">Niewe Operation aanmaken</a>
        <a routerLink="/operations/populate" class="btn btn-primary editbutton">Populate bestaande Operation</a>
        
      </div>
  </div>

<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let season of seasons">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">
          {{season.name}}
        </h5>
        <p class="card-text">
         Year {{season.year}}, Season: {{season.season}}
        </p>
        <button [routerLink]="['/season', season._id]" routerLinkActive="active" type="button"
        class="btn btn-primary btn-season">View</button>
      </div>
    </div>
  </div>
</div>
<app-season-detail [season]="selectedSeason"></app-season-detail>
