<div class="card mt-5">
    <div class="card-body">
        <a class="btn btn-success createbutton">Niewe Operation aanmaken</a>
    </div>
  </div>

<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let season of seasons">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">
          {{season.name}}
        </h5>
        <p class="card-text">
         Year {{season.year}}, Season: {{season.season}}
        </p>
        
        <a (click)="onSelect(season)" class="btn btn-primary">Meer Informatie</a>
      </div>
    </div>
  </div>
</div>
<app-season-detail [season]="selectedSeason"></app-season-detail>