<div *ngIf="this.operatorById">
  <div class="card mt-2">
    <div class="card-header">
      <h5 class="card-title">
        Detailed information about {{operatorById.name | uppercase}}
      </h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <h5>Naam</h5>
          <p>{{this.operatorById.name}}</p>
          <h5>Beschrijving</h5>
          <p>{{this.operatorById.description}}</p>
        </div>
        <div class="col-lg-6">
          <div *ngIf="operatorSeason">
          <h5>Operation</h5>          
          <button style="width:100%" class="btn btn-primary"
            [routerLink]="['/season', this.operatorById.season]">{{operatorSeason.name}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button *ngIf="_authService.loggedIn()" [routerLink]="['/operator/edit', this.operatorById._id]" routerLinkActive="active" type="button"
        class="btn btn-warning float-left btn-season">Edit</button>
      <button *ngIf="_authService.loggedIn()" [routerLink]="['/operator/delete', operatorById._id]" routerLinkActive="active" type="button"
        class="btn btn-danger float-right  btn-season">Delete</button>
    </div>
  </div>
</div>