<div *ngIf="this.operatorById">
    <div class="card mt-2">
        <div class="card-header">
          <h5 class="card-title">
            Detailed information about {{this.operatorById.name | uppercase}}
          </h5>
        </div>
        <div class="card-body">
            <p class="card-text">
    
                <b>Name:</b>
                <br />
                {{this.operatorById.name}}
                <br />
                <b>Description:</b>
                <br />
                {{this.operatorById.description}}
                <br />
                <b>Season: </b>
                <br />
                {{this.operatorById.season}}
                <br />
                <b>Available in ranked: </b>
                <br />
                {{this.operatorById.availableInRanked}}
                <br />
            </p>
        </div>
        <div class="card-footer text-center">
          <button [routerLink]="['/operator/edit', this.operatorById._id]" routerLinkActive="active" type="button"
          class="btn btn-warning float-left btn-season">Edit</button>
          <button [routerLink]="['/operator/delete', operatorById._id]" routerLinkActive="active" type="button"
      class="btn btn-danger float-right  btn-season">Delete</button>
        </div>
      </div>
      </div>