<!-- <app-season-edit [season]="selectedSeason"></app-season-edit> -->



<div *ngIf="this.seasonById">
    <div class="card mt-2">
        <div class="card-header">
                <h5 class="card-title">
                        Detailed Information about {{this.seasonById.name | uppercase}}
                    </h5>
        </div>
        <div class="card-body">
           <div class="row">
               <div class="col-lg-6">
                   <h5>Naam</h5>
                   <p>{{this.seasonById.name}}</p>
                   <br/>
                   <h5>Beschrijving</h5>
                   <p>{{this.seasonById.description}}</p>
                   <h5>Jaar</h5>
                   <p>{{this.seasonById.year}}</p>
                    <h5>Seizoen</h5>
                    <p>{{this.seasonById.season}}</p>
               </div>
               <div class="col-lg-6">
                    <div class="row">
                            <div *ngIf="operator1" class="col-lg-6 text-center">
                                <h5>Operator 1</h5>
                                <button class="btn btn-primary" [routerLink]="['/operator', operator1._id]" style="width:100%">{{this.operator1.name}}</button>
                            </div>
                            <div *ngIf="operator2" class="col-lg-6 text-center">  
                                <h5>Operator 2</h5>
                                <button class="btn btn-primary" [routerLink]="['/operator', operator2._id]" style="width:100%">{{this.operator2.name}}</button>
                                </div>
                                <div *ngIf="world" class="col-lg-12 text-center">
                                        <h5>Map</h5>
                                        <button class="btn btn-primary" [routerLink]="['/map', world._id]" style="width:100%">{{this.world.name}}</button>
                                </div>
                        </div>

                        
               </div>
           </div>

               
               
            
                
            

           
        </div>
        <div class="card-footer text-center">
                <button  *ngIf="_authService.loggedIn()" [routerLink]="['/season/edit', this.seasonById._id]" type="button"
                class="btn btn-warning float-left btn-season">Edit</button>
            <button *ngIf="_authService.loggedIn()" [routerLink]="['/season/delete', seasonById._id]" routerLinkActive="active" type="button"
        class="btn btn-danger float-right  btn-season">Delete</button>
        </div>
    </div>
</div>

<!-- <div *ngIf="this.display" class="mt-5">
        <div *ngFor="let operator of operators">
            <div class="card" *ngIf="seasonHas(operator)">
    
                <div class="card-title">
                    <h5>
                        {{operator.name}}
                    </h5>
                </div>
                <div class="card-body">
                    <b>
                        Description:
                    </b>
                    {{operator.description}}
                    <br />
                    <b>
                        Side
                    </b>
                    {{operator.side}}
    
                </div>
            </div>
    
        </div>
    </div> -->

