<!-- <app-season-edit [season]="selectedSeason"></app-season-edit> -->



<div *ngIf="this.seasonById">
    <div class="card mt-2">
        <div class="card-header">
                <h5 class="card-title">
                        Detailed Information about {{this.seasonById.name | uppercase}}
                    </h5>
        </div>
        <div class="card-body">
            <p class="card-text">

                <b>Name:</b>
                <br />
                {{this.seasonById.name}}
                <br />
                <b>Description:</b>
                <br />
                {{this.seasonById.description}}
                <br />
                <b>Year: </b>
                <br />
                {{this.seasonById.year}}
                <br />
                <b>Season: </b>
                <br />
                {{this.seasonById.season}}
                <br />
            </p>

           
        </div>
        <div class="card-footer text-center">
            <small>This component was made for Richardson maturity level 2</small>
        </div>
    </div>
</div>

<!-- <div *ngIf="this.display" class="mt-5">
        <div *ngFor="let operator of operators">
            <div class="card" *ngIf="seasonHas(operator)">
    
                <div class="card-title">
                    <h5>
                        {{operator.name}}
                    </h5>
                </div>
                <div class="card-body">
                    <b>
                        Description:
                    </b>
                    {{operator.description}}
                    <br />
                    <b>
                        Side
                    </b>
                    {{operator.side}}
    
                </div>
            </div>
    
        </div>
    </div> -->

