<div class="card mt-5">
    <div class="card-heading text-center">
      Create New Operator
      <hr/>
    </div>
    <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="name3">Operator name:</label>
            <input type="text" [(ngModel)]="operatorCreateForm.name" name="operatorName" class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label>Description: </label>
            <input type="text" [(ngModel)]="operatorCreateForm.description" name="operatorDescription" class="form-control rounded-0"  required>
          </div>
          <div class="form-group">
            <label>Side: </label>
              <select id="OperatorSelector" [(ngModel)]="operatorCreateForm.side" name="side" style="width: 100%;" class="dropdownoperator" >
                  <option >Attacker</option>
                  <option >Defender</option>
                  </select>
          </div>
          <div class="form-group">
              <label>Operation: </label>
              <select class="string-box btn text-white rounding half-black list-item mt-1 text-center" [(ngModel)]="operatorCreateForm.season"  name="season">
                  <option class="string-box btn text-white rounding half-black list-item mt-1 text-center">Selecteer een Season</option>
                  <option class="string-box btn text-white rounding half-black list-item mt-1 text-center" *ngFor="let season of seasons" value="{{season._id}}">{{season.name}}</option>
              </select>
            </div>
            
          <button type="button" (click)="addOperator()" class="btn btn-primary float-right">Confirm</button>
        </form>
      </div>
    
  </div>