<app-season-edit [season]="selectedSeason"></app-season-edit>



<div *ngIf="season">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Detailed Information about {{season.name | uppercase}}
            </h5>
            <hr />
            <p class="card-text">

                <b>Name:</b>
                <br />
                {{season.name}}
                <br />
                <b>Description:</b>
                <br />
                {{season.description}}
                <br />
                <b>Year: </b>
                <br />
                {{season.year}}
                <br />
                <b>Season: </b>
                <br />
                {{season.season}}
                <br />
            </p>

            <!-- <div *ngIf="world">
                {{world.name}}
            </div> -->
        </div>
        <div>
            <a *ngIf="season.operator" (click)="onSelectOperator(season)" class="btn btn-primary">Operator</a>
        </div>
        <div>
            <a *ngIf="_authService.loggedIn()" (click)="onSelect(season)" class="btn btn-warning editbutton">Edit</a>

            <a *ngIf="_authService.loggedIn()" (click)="deleteSeason()" class="btn btn-danger editbutton">Delete</a>

        </div>
    </div>
</div>

<div *ngIf="this.display" class="mt-5">
        <div *ngFor="let operator of operators">
            <div class="card" *ngIf="seasonHas(operator)">
    
                <div class="card-title">
                    <h5>
                        {{operator.name}}
                    </h5>
                </div>
                <div class="card-body">
                    <b>
                        Description:
                    </b>
                    {{operator.description}}
                    <br />
                    <b>
                        Side
                    </b>
                    {{operator.side}}
    
                </div>
            </div>
    
        </div>
    </div>

