<div *ngIf="this.showResultBox">
  <div class="content login-page form login-form">
    <h4>{{this.displayresult.result}}</h4>
    <p>{{this.displayresult.message}}</p>
  </div>
</div>

<app-season-edit [season]="selectedSeason"></app-season-edit>
<br>
<div *ngIf="season">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        {{season.name}} season information
      </h5>
    </div>
    <div class="card-body">
      <p>
        <br>
        <b>Name:</b>
        <br />
        {{season.name}}
        <br />
        <b>Description:</b>
        <br />
        {{season.description}}
        <br />
        <b>Year:</b>
        <br />
        {{ season.year }}
        <br />
      </p>
    </div>
    <div class="card-footer text-center">
        <button *ngIf="_authService.loggedIn()" (click)="onSelect(season)" type="button"
        class="btn btn-warning btn-season float-left">Edit</button>
      <button [routerLink]="['/season', season._id]" routerLinkActive="active" type="button"
        class="btn btn-primary btn-season">View</button>
      <button *ngIf="_authService.loggedIn()" (click)="deleteSeason()" type="button"
        class="btn btn-danger btn-season float-right">Delete</button>
    </div>
  </div>
</div>