/* You can add global styles to this file, and also import other style files */
.half-black {
    background-color: grey;
    border-radius: 25 px;
}
body {
    background-image: url('background.png');
    background-size: cover;
}

.createbutton {
    width: 100%;
}

.deletebutton {
    width: 50%;  
}

.editbutton {
    width: 50%;
}

.dropdownoperator {
    height: 38px;
}
.btn-season {
    width: 33%;
}