
<div *ngIf="season">
    <div class="card mt-5 mb-5">
        <div class="card-heading text-center">
          Edit {{season.name}}
          <hr />
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="name">Operation name:</label>
              <input type="text" [(ngModel)]="seasonNewName" name="name" class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label>Description: </label>
              <input type="text" [(ngModel)]="seasonNewDesc" name="description" class="form-control rounded-0"
                required>
            </div>
            <div class="form-group">
              <label>Year: </label>
              <input type="number" [(ngModel)]="seasonNewYear" name="year" class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label>Season: </label>
              <input type="number" [(ngModel)]="seasonNewSeason" name="season" class="form-control rounded-0"
                required>
            </div>    
           
            <button type="button" (click)="editSeason()" class="btn btn-primary float-right">Add Season</button>
          </form>
        </div>
      
      </div>
</div>