<div *ngIf="this.worldById">
  <div class="card mt-2">
    <div class="card-header">
      <h5 class="card-title">
        Detailed information about {{this.worldById.name | uppercase}}
      </h5>
    </div>
    <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <h5>Naam</h5>
              <p>{{this.worldById.name}}</p>
              <h5>Beschrijving</h5>
              <p>{{this.worldById.description}}</p>
            </div>
            <div *ngIf="this.seasonById" class="col-lg-6">
              <h5>Operation</h5>
              <button class="btn btn-primary" style="width: 100%" [routerLink]="['/season', this.seasonById._id]">{{this.seasonById.name}}</button>
              <!-- <h5>Available in Ranked</h5>
              <p>{{this.worldById.availableInRanked}}</p> -->
            </div>
          </div>
    </div>
    <div class="card-footer text-center">
        <button *ngIf="_authService.loggedIn()" [routerLink]="['/map/edit', this.worldById._id]" type="button"
        class="btn btn-warning float-left btn-season">Edit</button>
        <button *ngIf="_authService.loggedIn()" [routerLink]="['/map/delete', this.worldById._id]" type="button"
        class="btn btn-danger float-right btn-season">Delete</button>
    </div>
  </div>
  </div>

 