<div *ngIf="this.worldById">
  <div class="card mt-2">
    <div class="card-header">
      <h5 class="card-title">
        Detailed information about {{this.worldById.name | uppercase}}
      </h5>
    </div>
    <div class="card-body">
        <p class="card-text">

            <b>Name:</b>
            <br />
            {{this.worldById.name}}
            <br />
            <b>Description:</b>
            <br />
            {{this.worldById.description}}
            <br />
            <b>Season: </b>
            <br />
            {{this.worldById.season}}
            <br />
            <b>Available in ranked: </b>
            <br />
            {{this.worldById.availableInRanked}}
            <br />
        </p>
    </div>
    <div class="card-footer text-center">
        <button *ngIf="_authService.loggedIn()" [routerLink]="['/map/edit', this.worldById._id]" type="button"
        class="btn btn-warning float-left btn-season">Edit</button>
        <button *ngIf="_authService.loggedIn()" (click)="deleteWorld()" type="button"
        class="btn btn-danger float-right btn-season">Delete</button>
    </div>
  </div>
  </div>

 